<templates>
  <template id="view-goto-create-button">
    <button
      class="button is-primary"
      hx-get="{{ url }}"
    >
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
      <span>Create</span>
    </button>
  </template>
  <template id="view-do-save-button">
    <button
      class="button is-primary"
      type="submit"
    >
      <span class="icon">
        <i class="fa-regular fa-pen-to-square"></i>
      </span>
      <span>Save</span>
    </button>
  </template>
  <template id="view-goto-selected-delete-button">
    <button
      class="button is-danger selected-buttons-resource-{{ rcode }}-view-{{ vcode }}"
      hx-post="{{ feretui.base_url }}/action/resource?action=goto_delete"
      disabled="{{ disabled }}"
    >
      <span class="icon">
        <i class="fa-solid fa-trash"></i>
      </span>
      <span>Delete</span>
    </button>
  </template>
  <template id="view-goto-delete-button">
    <button
      class="button is-danger"
      hx-get="{{ url }}"
    >
      <span class="icon">
        <i class="fa-solid fa-trash"></i>
      </span>
      <span>Delete</span>
    </button>
  </template>
  <template id="view-do-delete-button">
    <button
      class="button is-danger"
      type="submit"
    >
      <span class="icon">
        <i class="fa-solid fa-trash"></i>
      </span>
      <span>Delete</span>
    </button>
  </template>
  <template id="view-goto-edit-button">
    <button
      class="button is-primary"
      hx-get="{{ url }}"
    >
      <span class="icon">
        <i class="fa-regular fa-pen-to-square"></i>
      </span>
      <span>Edit</span>
    </button>
  </template>
  <template id="view-goto-return-button">
    <button
      class="button is-ghost"
      hx-get="{{ url }}"
    >
      <span class="icon">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
      <span>Return</span>
    </button>
  </template>
  <template id="view-goto-cancel-button">
    <button 
      class="button is-ghost"
      type="reset"
      onclick="window.history.back()"
    >
      <span class="icon">
        <i class="fa-solid fa-xmark"></i>
      </span>
      <span>Cancel</span>
    </button>
  </template>
  <template id="view-goto-edit-cancel-button">
    <button 
      class="button is-ghost"
      type="reset"
      hx-get="{{ url }}"
    >
      <span class="icon">
        <i class="fa-solid fa-xmark"></i>
      </span>
      <span>Cancel</span>
    </button>
  </template>
  <template id="view-buttons-header">
    <div class="buttons is-centered is-hidden-print">
      {% for button in header_buttons %}
      {{ button }}
      {% endfor %}
    </div>
  </template>
  <template id="view-pagination">
    <div class="columns is-vcentered is-hidden-print">
      <div class="column is-narrow">
        <include template="view-buttons-header" />
      </div>
      <div class="column">
        {% if paginations %}
        <nav class="pagination" role="pagination" arial-label="pagination">
          {% if paginations[0] == offset %}
          <a class="pagination-previous" disabled><i class="fa-solid fa-chevron-left"></i></a>
          {% endif %}
          {% if paginations[0] != offset %}
          <a
            class="pagination-previous"
            hx-get="{{ feretui.base_url}}/action/resource?action=pagination&offset={{offset - limit}}"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </a>
          {% endif %}
          {% if paginations[-1] == offset %}
          <a class="pagination-next" disabled><i class="fa-solid fa-chevron-right"></i></a>
          {% endif %}
          {% if paginations[-1] != offset %}
          <a
            class="pagination-next"
            hx-get="{{ feretui.base_url}}/action/resource?action=pagination&offset={{offset + limit}}"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          {% endif %}
          <ul class="pagination-list">
            {% for pagination in paginations %}
            <li>
              {% if pagination == offset %}
              <a class="pagination-link is-current">
                {{ pagination + 1 }}-{{ [pagination + limit, dataset.total]|min }}
              </a>
              {% endif %}
              {% if pagination != offset %}
              <a
                class="pagination-link"
                hx-get="{{ feretui.base_url}}/action/resource?action=pagination&offset={{ pagination }}"
              >
                {{ pagination + 1 }}-{{ [pagination + limit, dataset.total]|min }}
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </template>
  <template id="view-multi-header">
    <div class="columns is-vcentered is-hidden-print">
      <div class="column content">
        <h1>{{ label }} <small>({{ dataset.total }})</small></h1>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
        {% for fname, values in filters %}
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">{{ fname }}</span>
              {% for value in values %}
              <span class="tag is-info">
                {{ value }}
                <button
                  class="delete"
                  hx-delete="/feretui/action/resource?action=filters&{{ fname }}={{ value }}"
                >
                </button>
              </span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </template>
  <template id="view-filter">
    <div class="panel mb-4">
      <p class="panel-heading">
        <span>Filter</span>
      </p>
      {% for field in form %}
      <div class="panel-block">
        <div class="container">
        {{ field(**{'hx-post': hx_post, 'hx-params': field.name, 'hx-trigger': "keyup[key=='Enter'],blur"}) }}
      </div>
      </div>
      {% endfor %}
    </div>
  </template>
</templates>
