<templates>
  <template id="feretui-resource-list">
    <div id="resource-{{ rcode }}-view-{{ vcode }}" class="container is-fluid">
      <form>
        <include template="view-multi-header" />
        <div class="columns">
          <div class="column">
            <include template="view-pagination" />
            <div class="table-container">
              <table class="table is-fullwidth is-striped">
                <thead>
                  <tr>
                    <th class="is-narrow" id="checkbox-all-resource-{{ rcode }}-view-{{ vcode }}">
                      <input
                        type="checkbox"
                        name="selected-table-resource-{{ rcode }}-view-{{ vcode }}"
                        _="
                          on click 
                          set <input[name='selected-rows-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to my.checked 
                          set <input[name='selected-table-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to my.checked 
                          if me.checked
                            set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to undefined
                          else
                            set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to 'disabled'
                          end
                        "
                      />
                    </th>
                    {% for field in form %}
                    <th id="{{ field.name }}">{{ field.label.text }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in dataset.forms %}
                  <tr
                    hx-trigger="dblclick"
                    hx-get="{{ open_view_url }}&pk={{ row.pk.data }}"
                  >
                    <th id="{{ row.pk.data }}">
                      <input 
                        type="checkbox" 
                        name="selected-rows-resource-{{ rcode }}-view-{{ vcode }}" 
                        class="selected-rows-resource-{{ rcode }}-view-{{ vcode }}" 
                        value="{{ row.pk.data }}"
                        _="
                          on click 
                          if me.checked
                            if (<input[name='selected-rows-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked) do not contains false
                              set <input[name='selected-table-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to me.checked
                            end
                            set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to undefined
                          else
                            set <input[name='selected-table-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to me.checked
                            if (<input[name='selected-rows-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked) do not contains true
                              set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to 'disabled'
                            end
                          end
                        "
                      />
                    </th>
                    {% for field in form %}
                    <td headers="{{ field.name }} {{ row.pk.data }}">
                      {{ widget(row[field.name]) }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th class="is-narrow" id="checkbox-all-resource-{{ rcode }}-view-{{ vcode }}">
                      <input
                        type="checkbox"
                        name="selected-table-resource-{{ rcode }}-view-{{ vcode }}"
                        _="
                          on click 
                          set <input[name='selected-rows-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to my.checked 
                          set <input[name='selected-table-resource-{{ rcode }}-view-{{ vcode }}']/>'s checked to my.checked 
                          if me.checked
                            set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to undefined
                          else
                            set .selected-buttons-resource-{{ rcode }}-view-{{ vcode }} @disabled to 'disabled'
                          end
                        "
                      />
                    </th>
                    {% for field in form %}
                    <th id="{{ field.name }}">{{ field.label.text }}</th>
                    {% endfor %}
                  </tr>
                </tfoot>
              </table>
            </div>
            <include template="view-pagination" />
        </div>
          {% if actions %}
            <div class="column is-2 is-hidden-print">
              {% for action in actions %}
              {{ action }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </form>
    </div>
  </template>
  <template id="view-readonly-form">
    <div class="container">
      {% for field in form %}
      {{ field(readonly=True) }}
      {% endfor %}
    </div>
  </template>
  <template id="view-readwrite-form">
    <div class="container mb-4">
      {% if error %}
      <div class="notification is-danger">
        {{ error }}
      </div>
      {% endif %}
      {% for field in form %}
      {{ field }}
      {% endfor %}
    </div>
  </template>
  <template id="feretui-resource-label-header">
    <div class="columns">
      <div id="label" class="column is-3">
        <h1>{{ label }}</h1>
      </div>
      <div id="buttons" class="column is-hidden-print">
        <include template="view-buttons-header"/>
      </div>
      <div is="status" class="column is-3">
      </div>
    </div>
  </template>
  <template id="feretui-resource-read-header">
    <div class="columns">
      <div id="label" class="column is-3">
        <h1>{{ form.pk.data }}</h1>
      </div>
      <div id="buttons" class="column is-hidden-print">
        <include template="view-buttons-header"/>
      </div>
      <div is="status" class="column is-3">
      </div>
    </div>
  </template>
  <template id="feretui-resource-edit-header">
    <div class="columns">
      <div id="label" class="column is-3">
        <h1>{{ form.pk.data }}</h1>
      </div>
      <div id="buttons" class="column is-hidden-print">
        <include template="view-buttons-header"/>
      </div>
      <div is="status" class="column is-3">
      </div>
    </div>
  </template>
  <template id="view-delete-form">
    <div class="container">
      {% if error %}
      <div class="notification is-danger">
        {{ error }}
      </div>
      {% endif %}
      <h2>Selected {{ resource.get_label(feretui, session) }} :</h2>
      <ul>
        {% for entry in entries %}
        <li>
            {{ entry }}
        </li>
        {% endfor %}
      </ul>
      <p><strong>Do you wanted delete its ?</strong></p>
    </div>
  </template>
</templates>
