<templates>
  <template id="feretui-client">
    <!DOCTYPE html>
    <feretui-html lang="{{ session.lang }}">
      <feretui-head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>{{ feretui.title }}</title>
        <link rel="icon" type="image/png" href="{{ feretui.get_image_url('logo.png') }}">
        {% for css in feretui.css_import %}
        <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        <link rel="stylesheet" href="{{ feretui.get_theme_url(session) }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
      </feretui-head>
      <feretui-body class="has-navbar-fixed-top">
        <include template="feretui-client-header"/>
        <main>
          <div id="feretui-body" class="mt-4 mb-4" hx-boost="true">
            {{ page }}
          </div>
        </main>
        <include template="feretui-client-footer"/>
        {% for js in feretui.js_import %}
        <script src="{{ js }}"></script>
        {% endfor %}
      </feretui-body>
    </feretui-html>
  </template>
  <template id="feretui-client-header">
    <header>
      <nav class="navbar is-fixed-top"  role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a 
            class="navbar-item has-tooltip-right has-tooltip-arrow"
            data-tooltip="Go to the homepage"
            hx-get="{{ feretui.base_url }}/action/goto?page=homepage"
            hx-target="#feretui-body"
            hx-swap="innerHTML"
          >
            <img 
              src="{{ feretui.get_image_url('logo.png') }}"
              alt="{{ feretui.title }}"
            >
          </a>
          <a
            id="feretui-app-header-burger-button"
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="feretui-app-header-burger"
            _="on click toggle .is-active on me then toggle .is-active on #feretui-app-header-burger"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="feretui-app-header-burger" class="navbar-menu">
          <div class="navbar-start">
            {% for menu in feretui.menus.left %}
              {% if menu.is_visible(session) %}
                {{ menu.render(feretui, session) }}
              {% endif %}
            {% endfor %}
          </div>
          <div class="navbar-end">
            {% for menu in feretui.menus.right %}
              {% if menu.is_visible(session) %}
                {{ menu.render(feretui, session) }}
              {% endif %}
            {% endfor %}
            {% if not session.user %}
            {{ feretui.auth.render(feretui, session) | safe }}
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{ session.user }}
              </a>
              <div class="navbar-dropdown is-boxed is-right">
                {% for menu in feretui.menus.user %}
                  {% if menu.is_visible(session) %}
                    {{ menu.render(feretui, session) | safe }}
                  {% endif %}
                {% endfor %}
                <hr class="navbar-divider">
                <a
                  class="navbar-item"
                  hx-post="/feretui/action/logout"
                >
                  Log out
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
  </template>
  <template id="feretui-client-footer">
    <footer>
      <div class="content has-text-centered">
        <p>
          <strong>feretUI</strong>by Js Suzanne.
        </p>
      </div>
    </footer>
  </template>
  <template id="feretui-tooltip">
    <span>
      {% if tooltip %}
      <span 
        class="ml-0 icon has-tooltip-bottom has-tooltip-arrow"
        data-tooltip="{{ tooltip }}"
      >
        <i class="fa-solid fa-circle-info is-small"></i>
      </span>
      {% endif %}
    </span>
  </template>
  <template id="feretui-icon">
    <span>
      {% if icon %}
      <span 
        class="ml-0 mr-0 icon"
      >
        <i class="{{ icon }}"></i>
      </span>
      {% endif %}
    </span>
  </template>
</templates>
