<templates>
  <template id="feretui-client">
    <feretui-html>
      <feretui-head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>FeretUI</title>
      </feretui-head>
      <feretui-body>
        <header>
        </header>
        Hello My feret
        <footer>
        </footer>
      </feretui-body>
    </feretui-html>
  </template>
</templates>
