<templates>
  <template id="toolbar-menu">
    <a 
      class="navbar-item"
      href="{{ href }}"
      hx-get="{{ url }}"
      hx-target="#feretui-body"
      hx-swap="innerHTML"
      aria-description="{{ description }}"
    >
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-description" />
    </a>
  </template>
  <template id="toolbar-dropdown-menu">
    <div 
      class="navbar-item has-dropdown is-boxed"
      aria-expanded="false"
      aria-label="{{ label }}"
      aria-description="{{ description }}"
      tabindex="0"
      role="navigation"
      _="on click or keyup[key=='Enter'] toggle .is-active on me"
    >
      <a class="navbar-link">
        <include template="feretui-icon" />
        <strong>{{ label }}</strong>
        <include template="feretui-description" />
      </a>
      <div class="navbar-dropdown">
        {% for child in children %}
          {% if child.is_visible(session) %}
            {{ child.render(feretui, session) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </template>
  <template id="toolbar-divider-menu">
    <hr class="navbar-divider">
  </template>
  <template id="toolbar-url-menu">
    <a class="navbar-item" href="{{ url }}" aria-description="{{ description }}">
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-description" />
    </a>
  </template>
  <template id="toolbar-button-menu">
    <a 
      class="button {{ css_class }}"
      href="{{ href }}"
      hx-get="{{ url }}"
      hx-target="#feretui-body"
      hx-swap="innerHTML"
      aria-description="{{ description }}"
    >
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-description" />
    </a>
  </template>
  <template id="toolbar-buttons-menu">
    <div class="navbar-item">
      <div class="buttons">
        {% for child in children %}
          {% if child.is_visible(session) %}
            {{ child.render(feretui, session) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </template>
  <template id="toolbar-button-url-menu">
    <a class="button {{ css_class }}" href="{{ url }}" aria-description="{{ description }}">
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-description" />
    </a>
  </template>
  <template id="aside-menu">
    <li>
      <a 
        href="{{ href }}"
        hx-get="{{ url }}"
        hx-target="#feretui-aside-body"
        hx-swap="innerHTML"
        aria-description="{{ description }}"
      >
        <include template="feretui-icon" />
        <span>{{ label }}</span>
        <include template="feretui-description" />
      </a>
    </li>
  </template>
  <template id="aside-header-menu">
    <li aria-label="{{ label }}" aria-description="{{ description }}">
      <a>
        <include template="feretui-icon" />
        <span><strong>{{ label }}</strong></span>
        <include template="feretui-description" />
      </a>
      <ul>
        {% for child in children %}
          {% if child.is_visible(session) %}
            {{ child.render(feretui, session) }}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </template>
  <template id="aside-url-menu">
    <li>
      <a href="{{ url }}">
        <include template="feretui-icon" />
        <span>{{ label }}</span>
        <include template="feretui-description" />
      </a>
    </li>
  </template>
  <template id="sitemap-header-menu">
    <li aria-label="{{ label }}" aria-description="{{ description }}">
      <a>
        <include template="feretui-icon" />
        <span><strong>{{ label }}</strong></span>
        <include template="feretui-description" />
      </a>
      <ul class="menu-list">
        {% for child in children %}
          {% if child.is_visible(session) %}
            {{ child.render(feretui, session) }}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </template>
  <template id="sitemap-menu">
    <li>
      <a 
        href="{{ href }}"
        hx-get="{{ url }}"
        hx-target="#body"
        hx-swap="innerHTML"
        aria-description="{{ description }}"
      >
        <include template="feretui-icon" />
        <span>{{ label }}</span>
        <include template="feretui-description" />
      </a>
    </li>
  </template>
</templates>
