<templates>
  <template id="toolbar-menu">
    <a 
      class="navbar-item"
      hx-get="{{ url }}"
      hx-target="#feretui-body"
      hx-swap="innerHTML"
    >
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-tooltip" />
    </a>
  </template>
  <template id="toolbar-dropdown-menu">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        <include template="feretui-icon" />
        <strong>{{ label }}</strong>
        <include template="feretui-tooltip" />
      </a>
      <div class="navbar-dropdown">
        {% for child in children %}
          {% if child.is_visible(session) %}
            {{ child.render(feretui, session) | safe }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </template>
  <template id="toolbar-divider-menu">
    <hr class="navbar-divider">
  </template>
  <template id="toolbar-url-menu">
    <a class="navbar-item" href="{{ url }}">
      <include template="feretui-icon" />
      <strong>{{ label }}</strong>
      <include template="feretui-tooltip" />
    </a>
  </template>
  <template id="aside-menu">
    <a 
      class="menu-label"
      hx-get="{{ url }}"
      hx-target="#feretui-aside-body"
      hx-swap="innerHTML"
    >
      <include template="feretui-icon" />
      <span>{{ label }}</span>
      <include template="feretui-tooltip" />
    </a>
  </template>
  <template id="aside-header-menu">
    <div>
      <p class="menu-label">
        <include template="feretui-icon" />
        <span><strong>{{ label }}</strong></span>
        <include template="feretui-tooltip" />
      </p>
      <ul>
        {% for child in children %}
          {% if child.is_visible(session) %}
            <li>{{ child.render(feretui, session) | safe }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </template>
  <template id="aside-url-menu">
    <a 
      class="menu-label"
      href="{{ url }}"
    >
      <include template="feretui-icon" />
      <span>{{ label }}</span>
      <include template="feretui-tooltip" />
    </a>
  </template>
</templates>
