<templates>
  <template id="feretui-page-404">
    <div class="container">
      <div class="content">
        <h1>Page not found</h1>
        <p>
          The page "<strong>{{ page }}</strong>" is not a declared page
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-forbidden">
    <div class="container">
      <div class="content">
        <h1>This page is forbidden</h1>
        <p>
          The page "<strong>{{ page }}</strong>" is forbidden.
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-homepage">
    <div class="container has-text-centered">
      <div class="content">
        <h1>Welcome to the FeretUI's client</h1>
        <div class="container">
          <figure class="image 1by1">
            <img src="/feretui/static/logo.png">
          </figure>
        </div>
        <p>
            Small and modular web client to administrate your service <i class="fa-regular fa-face-smile"/>
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-aside">
    <div class="columns">
      <div class="column is-narrow footer pt-5 pb-5">
        <aside class="menu">
          <ul class="menu-list">
          {% for menu in menus %}
            {% if menu.is_visible(session) %}
              <li>
                {{ menu.render(feretui, session) }}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div id="feretui-aside-body">
          {{ page }}
        </div>
      </div>
    </div>
  </template>
  <template id="feretui-page-login">
      <form
        hx-post="/feretui/action/login_password"
        hx-swap="outerHTML"
        hx-trigger="submit"
      >
        <div class="container">
          {% if error %}
          <div class="notification is-danger">
            {{ error }}
          </div>
          {% endif %}
          <div class="has-text-centered">
            {{ form.login(autocomplete="username") }}
            {{ form.password(autocomplete="current-password") }}
            <div class="buttons">
              <button 
                class="button is-primary is-fullwidth" 
                type="submit" 
              >
                Log in
              </button>
            </div>
          </div>
        </div>
      </form>
  </template>
  <template id="feretui-page-signup">
    <form
      hx-post="/feretui/action/login_signup"
      hx-swap="outerHTML"
      hx-trigger="submit"
    >
      <div class="container">
        {% if error %}
        <div class="notification is-danger">
          {{ error }}
        </div>
        {% endif %}
        <h1 class="title">Register a new user</h1>
        <div id="feretui-signup-field-login">
          {{ form.login(autocomplete='username') }}
        </div>
        <div id="feretui-signup-field-lang">
          {{ form.lang }}
        </div>
        <div id="feretui-signup-field-password">
          {{ form.password(autocomplete='current-password') }}
        </div>
        <div id="feretui-signup-field-password2">
          {{ form.password_confirm(autocomplete='current-password') }}
        </div>
        <br/>
        <div class="buttons">
          <button 
            class="button is-primary is-fullwidth" 
            type="submit" 
          >
            Sign up
          </button>
        </div>
      </div>
    </form>
  </template>
  <template id="feretui-page-resource">
    <div hx-target="this" hx-swap="innerHTML">
      {{ view }}
    </div>
  </template>
  <template id="feretui-page-resource-pagination">
    <div class="columns is-vcentered">
      <div class="column is-1">
        <div class="buttons">
          {% if create_view_qs %}
          <button 
            class="button is-primary"
            hx-get="{{ feretui.base_url }}/action/goto?{{ create_view_qs }}"
            hx-target="#feretui-body"
          >
            Create
          </button>
          {% endif %}
        </div>
      </div>
      <div class="column">
        {% if paginations %}
        <nav class="pagination" role="pagination" arial-label="pagination">
          {% if paginations[0] == offset %}
          <a class="pagination-previous" disabled>Previous page</a>
          {% endif %}
          {% if paginations[0] != offset %}
          <a
            class="pagination-previous"
            hx-get="/feretui/action/resource-pagination?resource={{ Resource._code }}&offset={{offset - limit}}"
            hx-target="#feretui-page-resource-{{ Resource._code }}"
          >
            Previous page
          </a>
          {% endif %}
          {% if paginations[-1] == offset %}
          <a class="pagination-next" disabled>Next page</a>
          {% endif %}
          {% if paginations[-1] != offset %}
          <a
            class="pagination-next"
            hx-get="/feretui/action/resource-pagination?resource={{ Resource._code }}&offset={{offset + limit}}"
            hx-target="#feretui-page-resource-{{ Resource._code }}"
          >
            Next page
          </a>
          {% endif %}
          <ul class="pagination-list">
            {% for pagination in paginations %}
            <li>
              {% if pagination == offset %}
              <a class="pagination-link is-current">
                {{ pagination }}-{{ [pagination + limit - 1, dataset.total]|min }}
              </a>
              {% endif %}
              {% if pagination != offset %}
              <a
                class="pagination-link"
                hx-get="/feretui/action/resource-pagination?resource={{ Resource._code }}&offset={{pagination}}"
                hx-target="#feretui-page-resource-{{ Resource._code }}"
              >
                {{ pagination }}-{{ [pagination + limit - 1, dataset.total]|min }}
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </template>
  <template id="feretui-page-resource-list">
    <div class="container is-fluid">
      <div class="columns is-vcentered">
        <div class="column is-2">
          <h1>{{ label }} ({{ dataset.total }})</h1>
        </div>
        <div class="column">
        </div>
      </div>
      <include template="feretui-page-resource-pagination" />
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            {% for field in fields %}
            <th id="{{ field }}">{{ form[field].label.text }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for row in dataset.forms %}
            <tr
              hx-trigger="dblclick"
              hx-get="/feretui/action/goto?{{ open_view_qs }}&id={{ row.pk.name }}"
            >
              {% for field in fields %}
              <td>
                {{ row[field](data_only=True) }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            {% for field in fields %}
            <th id="{{ field }}">{{ form[field].label.text }}</th>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
      <include template="feretui-page-resource-pagination" />
    </div>
  </template>
</templates>
