<templates>
  <template id="feretui-page-404">
    <div class="container">
      <div class="content">
        <h1>Page not found</h1>
        <p>
          The page "<strong>{{ page }}</strong>" is not a declared page
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-forbidden">
    <div class="container">
      <div class="content">
        <h1>This page is forbidden</h1>
        <p>
          The page "<strong>{{ page }}</strong>" is forbidden.
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-homepage">
    <div class="container has-text-centered">
      <div class="content">
        <h1>Welcome to the FeretUI's client</h1>
        <div class="container">
          <figure class="image 1by1">
            <img src="/feretui/static/logo.png">
          </figure>
        </div>
        <p>
            Small and modular web client to administrate your service <i class="fa-regular fa-face-smile"/>
        </p>
      </div>
    </div>
  </template>
  <template id="feretui-page-aside">
    <div class="columns">
      <div class="column is-narrow footer pt-5 pb-5">
        <aside class="menu">
          <ul class="menu-list">
          {% for menu in menus %}
            {% if menu.is_visible(session) %}
              <li>
                {{ menu.render(feretui, session) }}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div id="feretui-aside-body">
          {{ page }}
        </div>
      </div>
    </div>
  </template>
  <template id="feretui-input-field">
    <div class="field">
      <label class="label">{{ label }}</label>
      <div class="control">
        {{ widget }}
      </div>
      {% if error %}
      <p class="help is-danger">{{ error }}</p>
      {% endif %}
    </div>
  </template>
  <template id="feretui-page-login">
      <form
        hx-post="/feretui/action/login_password"
        hx-swap="outerHTML"
        hx-trigger="submit"
        hx-ext='json-enc'
      >
        <div class="container">
          <div class="has-text-centered">
            {{ form.login(autocomplete="username") }}
            {{ form.password(autocomplete="current-password") }}
            <div class="buttons">
              <button 
                class="button is-primary is-fullwidth" 
                type="submit" 
              >
                Log in
              </button>
            </div>
          </div>
        </div>
      </form>
  </template>
</templates>
